<p id="notice"><%#= notice %></p>
<h1>Pictures</h1>
<table>
  <thead>
    <tr>
      <td>User</td>
      <td>user_Image</td>
      <th>Image</th>
      <th>Comment</th>
      <th> </th>
      <th> </th>
      <th> </th>
      <th>お気に入り数</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td><%= picture.user.user_name %></td>
        <% if picture.user.my_image.url && picture.user.my_image %>
          <td><%= image_tag picture.user.my_image.url %></td>
        <% else %>
          <td><%= image_tag "default.png" %></td>
        <% end %>
        <td><%= image_tag picture.image.url %></td>
        <td><%= picture.comment %></td>
        <td><%= link_to 'Show', picture %></td>
        <% if picture.user_id == current_user.id %>
          <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
          <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td> </td>
          <td> </td>
        <% end %>
        <td> <%= picture.favorites.count %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Picture', new_picture_path %>
<br>
<br>
<br>
